[Unit]
Description=Schedule weekly user-home malware scan

[Timer]
OnCalendar=weekly
RandomizedDelaySec=2h
Persistent=true

[Install]
WantedBy=timers.target
